* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
}
